parameters:


database:
	dsn: 'mysql:host=%env.DATABASE_HOST%;dbname=%env.DATABASE_NAME%'
	user: %env.DATABASE_USER%
	password: %env.DATABASE_PASSWORD%

extensions:
	dbino: Varhall\Dbino\DI\DbinoExtension

dbino:
